./whisper.cpp/
./whisper
web/models/STT-ggml-model.bin
web/models/TTS_model.onnx
./web/audio/
./web/__pycache__/
./web/recordings/
./web/tmp/
./web/tmp_audio/
./web/a.pdf
./web/test.ipynb
.vscode
web/.env
web/chroma_langchain_db/
web/audio/
web/chroma_db/